<% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Es traten <%= @user.errors.count %> Fehler auf:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <%= form_for([:acp, @user]) do |f| %>
    <div class='form-group'>
        <%= f.label :email %>
    <div class="controls">
        <%= f.text_field :email, :class => 'form-control' %>
    </div>
    </div>

    <div class='form-group'>
        <%= f.label :username, "Benutzername" %>
    <div class="controls">
        <%= f.text_field :username, :class => 'form-control' %>
    </div>
    </div>

    <div class='form-group'>
        <%= f.label :password, "Passwort" %>
    <div class="controls">
        <%= f.password_field :password, :class => 'form-control' %>
    </div>
    </div>

    <div class='form-group'>
        <%= f.label :password_confirmation, "Passwortbestätigung" %>
    <div class="controls">
        <%= f.password_field :password_confirmation, :class => 'form-control' %>
    </div>
    </div>

      <div class='form-group'>
        <%= f.check_box :isadmin %>
        <%= f.label :isadmin, "Ist Administrator", :class => 'control-label' %>
      </div>

    <div class='form-group'>
        <%= f.submit 'Absenden', :class => 'btn btn-primary' %>
    </div>
    <% end %>