<div class="page-header">
  <h1><%= @meme.title %> 
      <% if current_user != nil %>
        <% if current_user.likes?(@meme) %>
        <%= link_to meme_unlike_path(@meme), :class => "btn btn-warning btn-sm" do %>
        <i class="glyphicon glyphicon-thumbs-down"></i> Dislike
        <span class="badge"><%= @meme.likers(User).count %></span>
        <% end %>
        <% else %>
        <%= link_to meme_like_path(@meme), :class => "btn btn-primary btn-sm" do  %>
        <i class="glyphicon glyphicon-thumbs-up"></i> Like
        <span class="badge"><%= @meme.likers(User).count %></span>
        <% end %>
        <% end %>
        <% end %>
  </h1>
</div>
<p>
    <b>Erstellt von</b>
    <% if @meme.user_id != nil %>
    <% @User = User.find(@meme.user_id) %>
    <%= @User.username %>
    <% else %>
    unregistriert
    <% end %>
</p>
<p>
    <b>Beschreibung</b>
    <%= @meme.description %> 
</p>
<p>
    <b>Erstellt am</b>
    <%= @meme.created_at %>
</p>
<p>
    <b>Wird gelistet:</b> 
    <% if @meme.isprivate == false %>
    <%= "Ja" %>
    <% else %>
    <%= "Nein" %>
    <% end %>
</p>
<p>
    <div align="center">
        <%= image_tag '/uploads/generated_memes/' + @meme.id.to_s + '.jpg' %>
    </div>
</p>
<hr>
<form>
<%= render partial: "memes/comment", collection: Comment.all.where(commentable_id: @meme.id.to_s).page(params[:page]).per(6) %>
</form>
<%= paginate Comment.all.where(commentable_id: @meme.id.to_s).page(params[:page]).per(6) %>
<p>
<%= form_for [@meme, @comment], :html => { :class => "form-horizontal comment" } do |f| %>
<div class='form-group'>
  <%= f.label :Kommentar, :class => 'control-label' %>
  <div class="controls">
<%= f.text_area :comment, :class => 'form-control' %>
</div>
</div>
<div class='form-group'>
  <div class="controls">
  <% if current_user == nil %>
    <%= f.submit "Einloggen zum kommentieren", :class => 'btn btn-primary', :disabled => 'disabled' %>
  <% else %>
    <%= f.submit "kommentar hinzufügen", :class => 'btn btn-primary' %>
  <% end %>
  </div>
</div>
<% end %>

</p>