<div class="page-header">
  <h1><%= @meme.title %> </h1>
</div>
<p>
<b>Erstellt von</b>
<% if @meme.user_id != nil %>
<% @User = User.find(@meme.user_id) %>
<%= @User.username %>
<% else %>
unregistriert
<% end %>
</p>
<p>
<b>Beschreibung</b>
<%= @meme.description %> 
</p>
<p>
<b>Erstellt am</b>
<%= @meme.created_at %>
</p>
<p>
<div align="center">
<%= image_tag '/uploads/generated_memes/' + @meme.id.to_s + '.jpg' %>
</div>
</p>