<div class='col-md-12'>
<div class='row'>
<div class='col-md-12'>
    <div class="thumbnail">
      <div class="caption">
        <h3><%= meme.title %>
        <% if current_user != nil %>
        <% if current_user.likes?(meme) %>
        <%= link_to meme_unlike_path(meme), :class => "btn btn-warning btn-sm" do %>
        <i class="glyphicon glyphicon-thumbs-down"></i> Dislike
        <span class="badge"><%= meme.likers(User).count %></span>
        <% end %>
        <% else %>
        <%= link_to meme_like_path(meme), :class => "btn btn-primary btn-sm" do  %>
        <i class="glyphicon glyphicon-thumbs-up"></i> Like
        <span class="badge"><%= meme.likers(User).count %></span>
        <% end %>
        <% end %>
        <% end %>
        </h3>
        <hr>
        <p>von:
        <% if meme.user_id != nil %>
        <% @User = User.find(meme.user_id) %>
        <%= @User.username %>
        <% else %>
        unregistriert
        <% end %>
        - erstellt: <%= meme.created_at %>
        <br />
        Kommentare: <%= Comment.all.where(commentable_id: meme.id.to_s).count %>
        </p>
      </div>
      <%= link_to image_tag('/uploads/generated_memes/' + meme.id.to_s + '.jpg'), meme_path(meme.id.to_s) %>
    </div>
  </div>
  </div>
  </div>