<div class="page-header">
  <h1><%= @meme_template.title %> </h1>
</div>
<p>
<b>Erstellt von</b>
<%= get_username_from_id(@meme_template) %>
</p>
<p>
<b>Erstellt am</b>
<%= @meme_template.created_at %>
</p>
<p>
<p>
<b>Private Vorlage:</b> 
<% if @meme_template.isprivate == true %>
<%= "Ja" %>
<% else %>
<%= "Nein" %>
<% end %>
</p>
<div align="center">
<%= image_tag @meme_template.template_img.to_s %>  </p>
</div>
</p>